body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estiliza o cabeçalho */
header {
  background-color: #0D1321;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Remove os marcadores de lista e o preenchimento da lista de navegação */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Exibe os itens da lista de navegação */
nav ul li {
  display: inline;
  margin: 0 1rem;
}

/* Estiliza os links de navegação */
nav ul li a {
  color: white;
  text-decoration: none;
}

/* Adiciona preenchimento ao conteúdo principal */
main {
  padding: 1rem;
}

/* Remove os marcadores de lista e o preenchimento das listas nas seções */
section ul {
  list-style-type: none;
  padding: 0;
}

/* Adiciona margens aos itens das listas nas seções */
section ul li {
  margin: 10px 0;
}

/* Estiliza os links nos itens das listas nas seções */
section ul li a {
  color: #4CAF50;
  text-decoration: none;
}

/* Adiciona sublinhado aos links nos itens das listas nas seções ao passar o mouse */
section ul li a:hover {
  text-decoration: underline;
}

/* Estiliza o rodapé */
footer {
  background-color: #0D1321;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Estiliza o conteúdo do rodapé */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adiciona margens aos elementos do rodapé */
.footer-left, .footer-right {
  margin: 0 20px;
}

/* Estiliza a linha separadora no rodapé */
.footer-separator {
  width: 1px;
  height: 50px; /* Ajuste conforme necessário */
  background-color: #333;
  margin: 0 20px;
}

/* Adiciona margens aos parágrafos no rodapé */
.footer-left p, .footer-right p {
  margin: 5px 0;
}
