body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estiliza o cabeçalho */
header {
    background-color: #0D1321;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Estiliza o link ativo na navegação */
nav ul li a.highlight {
    background-color: #0D1321;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Remove os marcadores de lista e o preenchimento da lista de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Exibe os itens da lista de navegação */
nav ul li {
    display: inline;
    margin: 0 1rem;
}

/* Estiliza os links de navegação */
nav ul li a {
    color: white;
    text-decoration: none;
}

/* Adiciona preenchimento ao conteúdo principal */
main {
    padding: 1rem;
}

/* Estiliza o rodapé */
footer {
    background-color: #0D1321;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estiliza o conteúdo do rodapé */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* Adiciona margens aos elementos do rodapé */
.footer-left, .footer-right {
    margin: 0 20px;
}

/* Estiliza a linha separadora no rodapé */
.footer-separator {
    width: 1px;
    height: 50px;
    background-color: #333;
    margin: 0 20px;
}

/* Adiciona margens aos parágrafos no rodapé */
.footer-left p, .footer-right p {
    margin: 5px 0;
}

/* Estilos para telas com largura máxima de 600px */
@media (max-width: 600px) {
    /* Exibe os itens da lista de navegação como blocos com centralização e margens verticais */
    nav ul li {
        display: block;
        text-align: center;
        margin: 0.5rem 0;
    }
}
